[access]
	inheritFrom = All-Projects
[access "refs/for/*"]
	addPatchSet = group Anonymous Users
	addPatchSet = group Forge_User
	addPatchSet = group Registered Users
	addPatchSet = group user/carignani (carignani)
	forgeAuthor = group Anonymous Users
	forgeAuthor = group Forge_User
	forgeAuthor = group Registered Users
	forgeCommitter = group Anonymous Users
	forgeCommitter = group Forge_User
	forgeCommitter = group Registered Users
	forgeCommitter = group user/carignani (carignani)
	forgeServerAsCommitter = group Anonymous Users
	forgeServerAsCommitter = group Registered Users
[access "refs/heads/*"]
	addPatchSet = group Registered Users
